<style>
   .button {
            
            display: flex;
            justify-content: center;
            background: transparent; 
            border: none; 
            outline: none; 
            color: #fff;
            padding: 8px;
            border-radius: 5px;
            font-size: 16px;
            position: relative;
            top: 10px;
        }
</style>


<div class="button">
<form action="/" class="home">
    <input type="submit" value="Login">
</form>

<form action="register" class="register">
    <input type="submit" value="Register">
</form>
</div>